# r-specific
.Rproj.user
.Rhistory
.RData
.Ruserdata

# mac-specific
.DS_Store

# api/auth keys
.httr-oauth
*.dcf
inst/app/rsconnect/shinyapps.io/hkdistricts-info/dashboard-hkdistrictcouncillors-dev.dcf
