.container2 {
  position: relative;
  /* background: #000000; */
  overflow: hidden;
  width: 100%;
  height: 800px;
  padding-top: 25px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}